@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 10px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: black;
}

#navbar li a:hover{
    color: rgb(107, 0, 0);
    transition: 0.3s ease;
}

a {
    text-decoration: none;
    color: black;
}

button {
    font-size: 25px;
    padding-right: 70px;
    padding-left: 64px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: -3px;
    background-color: rgb(134, 134, 134);
    border-style: solid 2px ;
}

h2 {
    font-size: 25px;
    background-color: rgb(107, 0, 0);
    color: white;
    font-weight: 300;
    padding-top: 3px;
    padding-bottom: 3px;
}

#discount {
    padding-top: 20px;
    text-align: center;
    margin-right: 80px;
    margin-left: 80px;
}



.category {
    font-size: 20px;
    color: black;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    background-color: rgba(128, 128, 128, 0.579);
}

.section-p1 {
    padding: 40px 80px;
}

#img-categories {
    height: 350px;
    width: 100%;
    margin-bottom: -5px;
}

#feature .fe-box {
    width: 400px;
    text-align: left;
    padding: 0 0;
    box-shadow: 20px 20px 34px rgb(0, 0, 0, 0.03);
    border: solid black;
}

#feature .fe-box:hover{
    box-shadow: 20px 20px 54px rgba(0, 0, 0, 0.1);
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    color: black;
    float: right;
    padding-left: 20px;
}

#button{
    float: left;
    
    cursor: pointer;
}

h1 {
    font-size: 30px;
}

footer {
    background-color: rgba(128, 128, 128, 0.579);
}

.sub {
    font-size: 20px;
    font-weight: 500;
}

.call {
    color: black;
    margin-top: 10px;
}

#phone a:hover{
    color: rgb(107, 0, 0);
    transition: 0.3s ease;
}

.phone {
    display: flex;
    align-items: center;
    justify-content: center;
}

.p1 {
    display: flex;
}

h4 {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 15px;
}

h3 {
    font-size: 25px;
    font-weight: 0;
}

.p2 {
    display: flex;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
} 

footer {
    display: flex;
    flex-wrap: wrap;
}

.col {
    margin-left: 100px;
}

h5 {
    font-size: 15px;
}

p {
    margin-bottom: -15px;
}



.lm {
    background-color: rgb(107, 0, 0);
    color: white;
    width: 200px;
    font-size: 15px;
    height: 40px;
    border: solid 1px black;
    margin-top: 5px;
    border-radius: 20px;
    margin-bottom: 10px;
}

#media {
    margin-top: 5px;
}

#header {
    margin-bottom: -10px;
}

.box {
    margin: 10px;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
   
    height: 100vh;   
}

.wrapper .img{
    margin: -10px;
    width: 30%;
    margin-right:120px ;
}

.wrapper .info{
    width: 25%;
    margin: 30px;
    height: 88%;
    color: black;
}

.info h3,p{
    padding: 15px 10px;
}

.info h3{
    font-size: 30px;
    font-weight: 600;
}

.info p{
    font-size: 22px;
}

.size{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.psize{
    
    width: 60px;
    height: 30px;
    border: 1px solid rgb(119, 119, 119);
    color: #000;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
}

.btn-box{
    display: flex;
    margin-top: 40px;
}
.btn-box button{
    font-size: 30px;
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
}

.cart-btn{
    align-items: center;
    background-color: rgb(107, 0, 0);
    margin-right: 20px;
}

.info-d{
    border: 2px solid black;
    padding: 10px;
}

.img-h {
    border: solid 2px black;
}

h3 {
    font-weight: 10;
}

.competition {
    margin-top: 20px;
}

#slider { /*положение слайдера*/
    position: relative;
	text-align: center;
    top: 10px;
}

#slider{ /*центровка слайдера*/
	margin: 0 auto;
}

#slides article{ /*все изображения справа друг от доруга*/
	width: 20%;
	float: left;
}

#slides .image{ /*устанавливает общий размер блока с изображениями*/
	width: 500%;
	line-height: 0;
}

#overflow{ /*сркывает все, что находится за пределами этого блока*/
	width: 100%;
	overflow: hidden;
    border: solid 2px black;
}

article img{ /*размер изображений слайдера*/
	width: 100%;
}

#desktop:checked ~ #slider{ /*размер всего слайдера*/
	max-width: 960px; /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked ~ #controls label:nth-child(3), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2){
	/*background: url('img/prev.jpg') no-repeat; /*заливка фона картинкой без повторений*/
	float: left;
	margin: 0 0 0 -84px; /*сдвиг влево*/
	display: block;
	height: 68px;
	width: 68px;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(1){
	/*background: url('img/next.jpg') no-repeat; /*заливка фона картинкой без повторений*/
	float: right;
	margin: 0 -84px 0 0; /*сдвиг вправо*/
	display: block;
	height: 68px;
	width: 68px;
}

#switch1:checked ~ #controls label:nth-child(5), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
	background: url('img/prev.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: left;
	margin: 0 0 0 -84px; /*сдвиг влево*/
	display: block;
	height: 68px;
	width: 68px;
    margin-top: -120px;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
	background: url('img/next.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: right;
	margin: 0 -84px 0 0; /*сдвиг вправо*/
	display: block;
	height: 68px;
	width: 68px;
    margin-top: -120px;
}

label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
	cursor: pointer;
}

.all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
	display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image{
	margin-left: 0;
}

#switch2:checked ~ #slides .image{
	margin-left: -100%;
}

#switch3:checked ~ #slides .image{
	margin-left: -200%;
}

#controls{ /*положение блока всех управляющих элементов*/
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#active label{ /*стиль отдельного переключателя*/
	border-radius: 10px; /*скругление углов*/
	display: inline-block; /*расположение в строку*/
	width: 15px;
	height: 15px;
	background: #bbb;
}

#active{ /*расположение блока с переключателями*/
	margin: 23% 0 0;
	text-align: center;
}

#active label:hover{ /*поведение чекбокса при наведении*/
	background: rgb(107, 0, 0);
	border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5){
	background: rgb(107, 0, 0);
	border-color:  rgb(107, 0, 0) !important;
}

#slides .image{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ /*прозрачность стрелок при наведении*/
	opacity: 0.6;
}

#controls label{ /*прозрачность стрелок при отводе курсора*/
	transition: opacity 0.2s ease-out;
}

.all {
    margin-top: -10px;
    margin-bottom: 40px;
}

.dp {
    margin-left: -10px;
}

.slides {
    border: solid 2px black;
}

hr {
    margin-top: 20px;
}